* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
html {
	height: unset !important;
}
body {
	/* background-image: linear-gradient(
		to bottom right,
		#00bcd4,
		#b2ebf2,
		#5fffcf
	); */ /* 
	background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg") !important; */
	background-image: url("background.png") !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

#root {
	height: 100%;
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

#loginHolder {
	background-color: rgb(218, 216, 216);
	width: 400px;
	margin: 0 20px;
}

.forma {
	margin: auto;
	margin: 10px;
}
.loginOrRegisterBtns {
	display: flex;
	justify-content: space-between;
}
.formHeader {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 10px;
}

.formLogo {
	width: min(50%, 10em);
	display: block;
	margin: auto;
	margin: 10px;
}

.kratkiOpis {
	width: min(50%, 10em);
	font-family: "Do Hyeon", sans-serif;
	font-size: 1.2em;
	font-weight: bold;
}

#registerHolder {
	background-color: rgb(218, 216, 216);
	width: 350px;
	margin: 20px;
}

.error-message {
	color: red;
}

.api_error_message {
	color: red;
	font-weight: bold;
	text-align: start;
}

#main {
	transition: margin-right 0.5s;
	padding: 0;
	height: 100%;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-size: larger;
}

.topHeader {
	height: 3.5rem;
	background-color: #ff5722;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.searchBar {
	display: flex;
}

.form-inline {
	flex-wrap: nowrap;
}

.rightExtender {
	/* width: calc(1.5em + 0.75rem + 2px);
	height: calc(1.5em + 0.75rem + 2px); */
	margin: 0px 10px;
	background-color: rgb(255, 225, 0);
}

.leftExtender {
	/* 	width: calc(1.5em + 0.75rem + 2px);
	height: calc(1.5em + 0.75rem + 2px); */
	margin: 0px 10px;
	background-color: rgb(255, 225, 0);
}

.center {
	flex-grow: 1;
	background-color: rgb(245, 245, 245);
}

#requestList {
	padding-left: 1rem;
	padding-right: 1rem;
}

.pageBody {
	position: relative;
}

#lijeviStupac {
	margin: 10px;
}
#desniStupac {
	margin: 10px;
}
#center {
	margin-top: 10px;
}

@media only screen and (min-width: 1500px) {
	#desniStupac {
		width: 250px !important;
		background-color: #111;
		position: absolute;
		right: 0px;
		top: 0px;
		height: calc(100vh - 3.5rem - 20px);
		transition: 0.5s;
		z-index: 3;
	}
	#center {
		position: absolute;

		left: 50%;
		transform: translate(-50%, 0);

		width: calc(100vw - 500px - 40px);

		height: calc(100vh - 3.5rem - 20px);
		transition: 0.4s;
	}

	.rightExtender {
		visibility: hidden;
	}

	#lijeviStupac {
		width: 250px !important;
		background-color: lightseagreen;
		position: absolute;
		left: 0px;
		top: 0px;

		height: calc(100vh - 3.5rem - 20px);
	}

	.leftExtender {
		visibility: hidden;
	}
}

@media only screen and (max-width: 1499px) and (min-width: 1100px) {
	#desniStupac {
		width: 0px;
		background-color: #111;
		position: absolute;
		right: 0px;
		top: 0px;
		height: calc(100vh - 3.5rem - 20px);
		overflow: hidden;
		transition: 0.5s;
		z-index: 3;
	}
	#center {
		position: absolute;

		left: calc(250px + 20px); /* 
		transform: translate(-250px, 0); */

		width: calc(100vw - 250px - 30px);

		height: calc(100vh - 3.5rem - 20px);
		transition: 0.5s;
	}

	.rightExtender {
		visibility: visible;
	}

	#lijeviStupac {
		width: 250px !important;
		background-color: lightseagreen;
		position: absolute;
		left: 0px;
		top: 0px;

		height: calc(100vh - 3.5rem - 20px);
	}

	.leftExtender {
		visibility: hidden;
	}
	#darkOverlay {
		visibility: hidden;
		position: relative;
		top: 0;
		width: 100vw;
		height: calc(100vh - 3.5rem);

		z-index: -1;
		background-color: rgba(0, 0, 0, 0);
		transition: 0.5s;
	}
}

@media only screen and (max-width: 1099px) {
	#desniStupac {
		width: 0px;
		background-color: #111;
		position: absolute;
		right: 0px;
		top: 0px;
		height: calc(100vh - 3.5rem - 20px);
		overflow: hidden;
		transition: 0.5s;
		z-index: 3;
	}
	#center {
		position: absolute;

		left: calc(10px); /* 
		transform: translate(-250px, 0); */

		width: calc(100vw - 20px);

		height: calc(100vh - 3.5rem - 20px);
		transition: 0.5s;
	}

	.rightExtender {
		visibility: visible;
	}

	#lijeviStupac {
		width: 0px;
		background-color: lightseagreen;
		position: absolute;
		overflow: hidden;
		left: 0px;
		top: 0px;
		/* 
		min-width: 250px; */
		height: calc(100vh - 3.5rem - 20px);
		transition: 0.5s;
		z-index: 3;
	}

	.leftExtender {
		visibility: visible;
	}
	#darkOverlay {
		visibility: hidden;
		position: relative;
		top: 0;
		width: 100vw;
		height: calc(100vh - 3.5rem);

		z-index: -1;
		background-color: rgba(0, 0, 0, 0);
		transition: 0.5s;
	}
}

.desniStupac a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.desniStupac a:hover {
	color: #f1f1f1;
}

.logOutButton {
	width: 90%;
	white-space: nowrap;
	margin: auto;
	padding-top: min(8px, 10px);
	padding-bottom: min(8px, 10px);
	padding-right: min(32px, 33px);
	padding-left: min(32px, 33px);
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.logOutButton div {
	display: inline;
}

.logOutButton a:hover {
	color: #f1f1f1;
}

.logOutIcon {
	margin-left: 10px;
	width: calc(1em + 0.75rem + 2px);
	height: calc(1em + 0.75rem + 2px);
	padding-bottom: 7px;
}
#newRequestFormInputs {
	display: flex;
	flex-wrap: wrap;
}
#newRequestFormInputs {
	display: flex;
	flex-wrap: wrap;
}
/* #newRequestFormInputs div {
	margin: auto;
} */
#newRequestCard {
	width: unset;
}
#requestKomentar {
	height: 100%;
}
#komentar {
	margin-left: 10px;
}
#newRequest {
	width: unset;
}
